# Секреты
.env
*.env.local
.env.*

# База данных
db.sqlite3
*.sqlite3-journal
*.sqlite3

# Файлы кэша и виртуальное окружение
__pycache__/
venv/
*.pyc
.idea/

# Coverage reports
.coverage
.coverage.*
htmlcov/
*.lcov
.pytest_cache/

# Celery Beat
celerybeat-schedule
celerybeat-schedule.db
celerybeat-schedule.dir
celerybeat-schedule.page
celerybeat-schedule.bak
celerybeat-schedule*
