-r requirements.txt

# Тестирование и покрытие
pytest==8.3.4
pytest-django==4.9.0
pytest-cov==6.0.0
coverage==7.6.1
freezegun==1.5.1
Faker==33.3.0
factory_boy==3.3.3

# Форматирование и статический анализ
black==24.3.0
mypy==1.8.0

# Дополнительные инструменты
django-environ==0.11.2