amqp==5.3.1
apiclient==1.0.4
asgiref==3.11.1
ast_serialize==0.5.0
attrs==26.1.0
billiard==4.2.4
black==26.5.1
boolean.py==5.0
CacheControl==0.14.4
celery==5.6.3
celery-types==0.26.0
certifi==2026.7.22
charset-normalizer==3.5.1
click==8.4.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
colorama==0.4.6
coverage==7.15.4
cyclonedx-python-lib==11.12.0
defusedxml==0.7.1
dj-database-url==3.1.2
Django==6.0.4
django-cors-headers==4.9.0
django-debug-toolbar==6.3.0
django-environ==0.13.0
django-ratelimit==4.1.0
django-redis==7.0.0
django-stubs==6.0.4
django-stubs-ext==6.0.4
djangorestframework==3.17.1
djangorestframework-stubs==3.17.0
djangorestframework_simplejwt==5.5.1
drf-spectacular==0.29.0
factory_boy==3.3.3
Faker==40.37.0
filelock==4.0.12
freezegun==1.5.5
idna==3.19
inflection==0.5.1
iniconfig==2.3.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
kombu==5.6.2
librt==0.11.0
license-expression==30.4.4
markdown-it-py==4.2.0
mdurl==0.1.2
msgpack==1.2.3
mypy==2.1.0
mypy_extensions==1.1.0
packageurl-python==0.17.6
packaging==26.2
pathspec==1.1.1
pip-requirements-parser==32.0.1
pip_api==0.0.35
pip_audit==2.10.1
platformdirs==4.10.0
pluggy==1.6.0
prompt_toolkit==3.0.53
psycopg==3.3.4
psycopg-binary==3.3.4
psycopg2-binary==2.9.12
py-serializable==2.1.0
Pygments==2.21.0
PyJWT==2.13.0
pyparsing==3.3.3
pytest==9.1.1
pytest-cov==7.1.0
pytest-django==4.14.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
pytokens==0.4.1
PyYAML==6.0.3
redis==8.1.0
referencing==0.37.0
requests==2.34.2
rich==15.0.0
rpds-py==0.30.0
ruff==0.16.10
six==1.17.0
sortedcontainers==2.4.0
sqlparse==0.5.5
tomli==2.4.1
tomli_w==1.2.0
types-PyYAML==6.0.12.20260510
typing_extensions==4.15.0
tzdata==2026.2
tzlocal==5.4.4
uritemplate==4.2.0
urllib3==2.7.0
vine==5.1.0
wcwidth==0.8.3
gunicorn>=22.0.0